{% extends "./basics.html" %}
{% block menu_content %}
    <ol class="fa-ul">
        {% for slot in slots %}
            <li>
                {% if slot.selected %}<span class="fa-li"><i class="fas fa-chevron-right"></i></span>{% endif %}
                <h5>{{ slot.name }}:
                    {% if slot.free %}
                    Free
                    {% else %}
                    {{ slot.number_of_moviemons_captured }}/{{ slot.number_of_moviemons }}
                    {% endif %}
                    {% if slot.loaded %}
                        <i class="fas fa-check"></i>
                    {% endif %}
                </h5>
            </li>
        {% endfor %}
    </ol>
{% endblock %}
{% block menu_action %}
    <li>
        <h5>
            {% if select_on_loaded %}
                A - Start game
            {% else %}
                A - Load
            {% endif %}
        </h5>
    </li>
    <li>
        <h5>B - Cancel</h5>
    </li>
{% endblock %}